@import '../../../../shared/variables.scss';

.FraudMessage {
  margin-top: 8%;
  margin-bottom: 4%;
}

.FraudMessage__messageContainer {
  margin-top: 4%;
  font-family: "Circular";
  word-spacing: -4px;
}

.FraudMessage__image {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.FraudMessage__title {
  font-weight: 900;
  color: $dark-color;
}