@import '../../../../shared/variables.scss';

.Cblocks__container {
  padding-left: 20%;
  padding-right: 20%;
}

.Cblocks__header-container {
  display: block;
  width: 100%;
}

.Cblocks__block-container {
  padding-top: 4%;
  display: block;
  margin: 0 auto;
}

.Cblocks__header {
  text-align: center;
  font-size: 28px;
}

.Cblocks__subHeader {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.Cblocks__fileName {
  margin: 0;
  color: $dark-color;
  font-size: 15px;
  font-weight: 550;
  padding-bottom: 0.5%;
}

.Cblocks__description {
  padding-top: 1%;
  color: $dark-color;
}

span {
  border-radius: 10px !important;
  padding: 2%;
}
