@import '../../../../shared/variables.scss';

.Cblocks {
  margin-top: 4%;
}

.Cblocks__subHeader {
  font-weight: 900;
}

.Cblocks__fileName {
  margin: 0;
  color: $primary-color;
  font-size: 18px;
  font-weight: 550;
  padding-bottom: 0.5%;
}

.Cblocks__description {
  padding-top: 1%;
  color: $dark-color;
}

span {
  border-radius: 10px !important;
  padding: 2%;
}

.Cblocks__block {
  margin-bottom: 2%;
}

.Cblocks__links {
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 4px;
  padding-left: -8px;
  transition: 0.3s;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.Cblocks__link {
  font-weight: 700;
  color: $dark-color;
}

.Cblocks__list {
  list-style: none;
}

.Cblocks__list li::before {
  content: "\003E";
  color: $primary-color;
  font-weight: 900;
  display: inline-block;
  margin-left: -1.5em;
  margin-right: 1em;
  width: 4px;
  font-size: 16px;
}