@import '../../../../shared/variables.scss';

.Cblocks {
  margin-top: 4%;
}

.Cblocks__subHeader {
  font-weight: 900;
}

.Cblocks__fileName {
  margin: 0;
  color: $dark-color;
  font-size: 15px;
  font-weight: 550;
  padding-bottom: 0.5%;
}

.Cblocks__description {
  padding-top: 1%;
  color: $dark-color;
}

span {
  border-radius: 10px !important;
  padding: 2%;
}
