.Gauge__container {
  width: 100%;
  margin-bottom: 4%;
}

.Gauge__inner-container {
  width: 90%;
  margin: auto;
  margin-top: 4%;
}

.Gauge__header {
  text-align: center;
  font-weight: 900;
  font-family: "Circular";
  word-spacing: -12px;
  font-size: 24px;
}

.Gauge__image {
  width: 50%;
}
