.Footer {
  margin-top: 8%;
}

.Footer__desc {
  text-align: center;
  font-family: "Circular";
  font-weight: 700;
  word-spacing: -4px;
  background: linear-gradient(90deg, #F46F6F -2.64%, #FF9473 100%);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
}