body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/lineto-circular-pro-book.ttf");
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/lineto-circular-pro-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/lineto-circular-black.ttf");
  font-weight: 900;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}