.Graph__container {
  padding-top: 4%;
  width: 100%;
  height: 40vh;
}

.Graph__tree-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.Graph__header {
  font-weight: 900;
}

.nodeNameBase, .nodeAttributesBase {
  stroke-width: 0.1;
  fill: black;
}
