.Graph__container {
  padding-top: 4%;
  width: 100vw;
  height: 50vh;
}

.Graph__tree-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.Graph__header {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding-left: 5%;
}

.nodeNameBase {
  stroke-width: 0.1;
}
